html[lang="ar"] #p {
    text-align: right;
    direction: rtl;

}

.nav-site {
    background-color: #333;
    overflow: hidden;
    border-radius: 5px;;
}

.nav-site a {
    float: left;
    text-decoration: none;
    text-align: center;
    color:#fff;
    padding:10px;
}

.nav-site a:hover {
    background-color: #140a9b;
}


.container{
    height: 100vh;
}
.poem{
    font-size: large;
    overflow: auto;
}
ul li {
    text-align: center;
    list-style: none;
    color: rgb(26, 24, 24);
    margin-bottom:20px;
}
ul li a {
    text-decoration: none;
    color:#140a9b;
    
}