<html dir="rtl" lang="ar">
    <head>
        <meta charset="utf-8"/>
        <title>Arabic Poem Generator</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="nav-site">
            <a href="/">Home</a>
            <a href="/about">About</a>
        </nav>
        <h1 style="text-align: center;">Arabic Poem Generator</h1>
        <h1 style="text-align: center;">انشاء شعر عربي</h1>
        <p style="text-align: center;"> write your first letters and let the model continue for you</p>
        <p style="text-align: center;"> اكتب اول حروفك و دعنا  تكمل لك</p>
        <div class="container" style="height: 70vh;">
            <form  action="/predict" method="post">
                <input class="form-control" type="text" name="text" placeholder="Text">
                <input class="form-control" type="text" name="size" placeholder="number of letters">

                <input class="btn btn-primary" type="submit" value="Generate poem">
            </form>
                <div class="poem" style="border:1px solid black; height: 400px">The Generated poem is 
                    <p>
                        {% if sentiment %}
                        <table >
                            {% for key, value in sentiment.items() %}
                               <tr>
                                  <td> {{ value }} </td>
                               </tr>
                            {% endfor %}
                         </table>
                         {% endif %}

                    </p>
                </div>
        </div>
    </body>
</html>